@using RosetteStore.WebUI.Models
@model RosettesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Rosettes)
{
    @Html.Partial("RosetteSummary", p)
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>